@{
    ViewBag.Title = "DateTime Picker";
    Layout = "_Layout";
}
<link href="~/lib/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/datetimepicker/build/jquery.datetimepicker.full.js"></script>

<h2>DateTime Picker</h2>
<div class="container">
    <div class="row">
        @Html.Label("DateTime using Jquery plug in", null, new { @class = "control-label col-xs-3"})
        <div class="col-xs-3">
            @Html.TextBox("datetimepicker")
        </div>
    </div>
    
    <!--Regular Date Picker-->
    @*<div class="row">
        <div>
            @Html.Label("HTML Date control", null, new {@class = "control-label col-xs-3"})
            <div class="col-xs-3">
                <input type="date"/>
            </div>
        </div>
    </div>*@
    
    <!--Regular DateTime Picker-->
    @*<div class="row">
        <div>
            @Html.Label("HTML DateTime control", null, new {@class = "control-label col-xs-3"})
            <div class="col-xs-3">
                <input type="datetime-local"/>
            </div>
        </div>
    </div>*@
</div>
<div class="row">
    <input type="submit" class="btn btn-primary" value="Submit" />
    <input type="button" class="btn btn-danger" value="cancel"/>

</div>
<script type="text/javascript">
    jQuery('#datetimepicker').datetimepicker();
</script>